* {
  text-align: center;
}

#single-ticket {
  display: none;
}

#multiple-tickets {
  display: none;
}

h1 {
  font-size: 28px;
  margin: 20px 20px;
}

.display-button {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  margin-bottom: 10px;
}

.multiple-ticket-container {
  display: flex;
  justify-content: space-around;
  width: 850px;
  margin: auto;
  margin-bottom: 25px;
}

.table-container {
  margin: auto;
  width: 900px;
}

.multiple-ticket-head tr th {
  padding: 5px;
  text-align: left;
  padding-right: 20px;
  font-weight: bold;
  border: 1px solid black;
}
.multiple-ticket-head tr :first-child {
  width: 30px;
}

.multiple-ticket-container tbody tr td {
  padding: 5px;
  text-align: left;
  padding-right: 20px;
  border: 1px solid black;
}

.page-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button button {
  margin: 10px;
}

.single-ticket-container {
  width: 500px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid black;
}

.single-ticket-container div {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
}

.single-ticket-container div span {
  padding-left: 15px;
  font-weight: lighter;
}
